


.button
{
	-fx-background-color:MidnightBlue;
	-fx-text-fill:white;
	-fx-font-family:"Segoe UI Light";
	-fx-font-size:15px;
}

.label, .text
{
	-fx-font-family:"Segoe UI";
	-fx-font-size:15px;	
}

#titre.label
{
	-fx-font-size:20px;
}

.radio-button .radio{
-fx-border-radius    : 15px  ;
-fx-font-size:15px;
}

